# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.class
*.so
*.egg
*.egg-info/
.installed.cfg
*.manifest
*.spec

# Build / Distribution
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
wheels/

# Virtual Environment
venv/
.venv/
ENV/
.env

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Logs / Test reports
*.log
.coverage
htmlcov/
.pytest_cache/
mypy_cache/

# Database
*.sqlite3
*.db

# Docker
.dockerignore
docker-compose.override.yml

# Poetry
poetry.lock
